* {
    margin: 0;
    padding: 0;
}

.myList {
    padding-left: 7px;
    margin-bottom: 15px;
    transition: all 15s ease-in-out;
    transform: translateX(100%);
}

.fromBottom {
    transform: translateX(0);
}

.myList2 {
    transform: translateX(-100%);
    transition: 10s;
}

.fromLeft {
    transform: translateX(0);
}